[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[user]
	email = riccardovarenna@hotmail.de
	name = Riccardo Varenna
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[alias]
    clipdev = "!sh -c 'git merge-base develop \"$0\" | clip'"
[mergetool]
	keepBackup = false
