"source ~/.vimrc

" ===== setup =====
set showmode
set clipboard=unnamed
set multiple-cursors
set surround
set is "incsearch
set ic "ignorecase
set scs "smartcase
let mapleader = " "
set ttimeout
set timeoutlen=500  " Time to wait for a command (after leader for example).
set ttimeoutlen=100 " Time to wait for a key sequence.
set tabstop=4
set shiftwidth=4
set expandtab "expands tab to tabstop spaces
set linebreak "wrap whole words instead of splitting them in the middle

"don't loose selection when shifting
xnoremap <  <gv
xnoremap >  >gv

"Differs from 'j' when lines wrap, and when used with an operator, because it's not linewise.
nnoremap j gj
nnoremap k gk
nnoremap gj j
nnoremap gk k

" ===== keymaps =====

"***go***
map gu :action FindUsages<CR>
map gi :action ReSharperGotoImplementation<CR>
map gb <C-o>
map gf <C-i>
map gc :action CommentByLineComment<cr>
"go hint
map gh :action ShowErrorDescription<cr>
"go info
map gi :action QuickJavaDoc<cr>
map go :action QuickImplementations<cr>
map gs :action RiderShowIncomingCalls<cr>


"***search***
map <leader>/ :action FindInPath<cr>
map <leader>ps :action GotoSymbol<cr>
map <leader>pa :action GotoAction<cr>
map <leader>pf :action GotoFile<cr>
map <leader>ff :action Find<cr>
noremap <leader>pr :action RecentChangedFiles<CR>
noremap <leader>ph :action ReplaceInPath<CR>

"***kjump***
map <leader>j :action KJumpAction<CR>

"***folding***
map zo :action ExpandRegion<cr>
map zc :action CollapseRegion<cr>
map zm :action CollapseRegionRecursively<cr>
map zr :action ExpandRegionRecursively<cr>
map zM :action CollapseAllRegions<cr>
map zR :action ExpandAllRegions<cr>

"***cursor***
map <C-n> :action SelectNextOccurrence<cr>
map <leader>ca :action SelectAllOccurrences<cr>
map <leader>cu :action UnselectPreviousOccurrence<cr>

"***window actions***
map <leader>wh :action PrevSplitter<cr>
map <leader>wl :action NextSplitter<cr>
map <leader>wo :action Unsplit<cr> <bar> :action CloseAllEditorsButActive<cr>
map <leader>to :action CloseAllEditorsButActive<cr>
map <leader>ws :action SplitVertically<cr>
map <leader>wu :action ReopenClosedTab<cr>
map <leader>we <Action>(ActivateEventLogToolWindow)

"***git version control***
noremap <leader>en :action GotoNextError<CR>
noremap <leader>ep :action GotoPreviousError<CR>

noremap <leader>gl :action Vcs.Show.Log<CR>
noremap <leader>gs :action Vcs.Show.Local.Changes<CR>
map <leader>gb :action Git.Branches<cr>
map <leader>gc :action Git.CompareWithBranch<cr>
map <leader>ga :action Annotate<cr>
map <leader>gr :action Git.ResolveConflicts<cr>
map <leader>gv :action Compare.Selected<cr>
map <leader>gh :action Vcs.ShowTabbedFileHistory<cr>

"***file changes
map <leader>fs :action SaveAll<cr>
map <leader>egv :action Tool_External Tools_gvim<cr>
map <leader>evc :action Tool_External Tools_vscode<cr>
map <leader>ecg :action Tool_External Tools_codegen<cr>
map <leader>els :action Tool_External Tools_localserver<cr>
map <leader>ecp :action Tool_External Tools_codepatcher<cr>
map <leader>epg :action Tool_External Tools_purchasegen<cr>
map <leader>ggg :action ActivateProjectToolWindow<cr>
vmap = :action ReformatCode<cr>
