set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[1 q\2

#Other options (replace the number after \e[):
#Ps = 0  -> blinking block.
#Ps = 1  -> blinking block (default).
#Ps = 2  -> steady block.
#Ps = 3  -> blinking underline.
#Ps = 4  -> steady underline.
#Ps = 5  -> blinking bar (xterm).
#Ps = 6  -> steady bar (xterm).
